<%- include("partials/header"); -%>


<section class="sbloginpage">
    <main class="form-signin w-100 m-auto">
        <form class="sbform" method="post" action="/bklogin">
            
          <img src="images/bk.png" alt="" class="starbucksloginimg">
          <h1 class="adminh1">Admin Login</h1>
          <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                Enter Valid Username or Password
            </div>
        <% } %>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="sbmail">
            <label for="floatingInput" >Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="sbpass">
            <label for="floatingPassword" >Password</label>
          </div>
          <a>
            <button class="btn btn-primary w-100 py-2" type="submit" id="signbtnsb">Sign in</button>
          </a>
          
        </form>
      </main>
</section>