<%- include("partials/header"); -%>

    <section class="sbmenu">
        <center>
            <img src="https://pbs.twimg.com/profile_images/1148729107406041088/emlH0Rv4_400x400.png" alt="" class="starbucksloginimg" style="margin-top: 25px;">
            <div style="width: 110; margin-top: 10px;">
                <h1 class="menuh1" style="background-color: #DD0033; color: white; margin-top: 5px;">Menu</h1>
            </div>
        </center>
        <!DOCTYPE html>
        <html lang="en">

        <body>
            <div class="hotdrinks" style="background-color: black">
                <h1 class="menuh1" style="color: white;">Chick-fil-A® Originals</h1>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="card" style="width: 18rem; " data-price="6.99">
                                <img src="https://www.cfacdn.com/img/order/menu/Online/Entrees/Jul19_CFASandwich_pdp.png", style="background-color:white ;"
                                    class="card-img-top" alt="..." name="img">
                                <div class="card-body">
                                    <h5 class="card-title">Chick-fil-A® Chicken Sandwich</h5>
                                    <p class="card-text">Our original recipe for almost 60 years. A boneless breast of chicken seasoned to perfection, freshly breaded, pressure cooked in 100% refined peanut oil and served on a toasted, buttery bun with dill pickle chips.</p>

                                    <p class="card-text" style="font-weight: 700;">Price: $6.99</p>
                                    <!-- remember ejs here have to update the value using sql on top -->

                                    <button id="decrease" class="decreasebtn"
                                        style="background-color:#0B5ED7;">-</button>

                                    <input type="text" class="sbquantity" value="1" min="1" maxlength="4" size="4">

                                    <button id="increase" class="increasebtn"
                                        style="background-color:#0B5ED7;">+</button>
                                    <p class="card-text" style="font-weight: 700; margin-top: 10px;">Total: <span
                                            class="totalPrice" name="total">$6.99</span></p>

                                    <form action="/sbmenu" method="post">
                                        <input type="hidden" class="totalPriceInput" name="totalPrice" value="6.99">
                                        <button type="submit" class="btn btn-primary">Order Now</button>
                                    </form>


                                </div>
                            </div>


                        </div>

                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;" data-price="6.19">
                                <img src="https://www.cfacdn.com/img/order/menu/Online/Entrees/HoneyPepperPimento_pdp.png", style= "background-color:white"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Honey Pepper Pimento Chicken Sandwich</h5>
                                    <p class="card-text">The new Honey Pepper Pimento Chicken Sandwich is a twist on the Original Chick-fil-A® Chicken Sandwich. It features an original Chick-fil-A filet drizzled with honey, topped with pimento cheese and served on a warm, toasted bun.</p>

                                    <p class="card-text" style="font-weight: 700;">Price: $6.19</p>
                                    <!-- remember ejs here have to update the value using sql on top -->

                                    <button id="decrease" class="decreasebtn"
                                        style="background-color:#0B5ED7;">-</button>

                                    <input type="text" class="sbquantity" value="1" min="1" maxlength="4" size="4">

                                    <button id="increase" class="increasebtn"
                                        style="background-color:#0B5ED7;">+</button>

                                    <p class="card-text" style="font-weight: 700; margin-top: 10px;">Total: <span
                                            class="totalPrice">6.19</span></p>
                                    <form action="/sbmenu" method="post">
                                        <input type="hidden" class="totalPriceInput" name="totalPrice" value="6.19">
                                        <button type="submit" class="btn btn-primary">Order Now</button>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;" data-price="8.79">
                                <img src="https://www.cfacdn.com/img/order/COM/Menu_Refresh/Entree/Entree%20PDP/_0000s_0009_Final__0026_CFA_PDP_Grilled-Deluxe-Sandwich_1085.png", style=" background-color:  white";
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Grilled Chicken Sandwich</h5>
                                    <p class="card-text">A lemon-herb marinated boneless breast of chicken, grilled for a tender and juicy backyard-smoky taste, served on a toasted multigrain bun with green leaf lettuce and tomato. The grilled chicken sandwich pairs well with Honey Roasted BBQ sauce.</p>

                                    <p class="card-text" style="font-weight: 700;">Price: $8.79</p>
                                    <!-- remember ejs here have to update the value using sql on top -->

                                    <button id="decrease" class="decreasebtn"
                                        style="background-color:#0B5ED7;">-</button>

                                    <input type="text" class="sbquantity" value="1" min="1" maxlength="4" size="4">

                                    <button id="increase" class="increasebtn"
                                        style="background-color:#0B5ED7;">+</button>

                                    <p class="card-text" style="font-weight: 700; margin-top: 10px;">Total: <span
                                            class="totalPrice">$8.79</span></p>
                                    <form action="/sbmenu" method="post">
                                        <input type="hidden" class="totalPriceInput" name="totalPrice" value="8.79">
                                        <button type="submit" class="btn btn-primary">Order Now</button>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;" data-price="1.49">
                                <img src="https://www.cfacdn.com/img/order/menu/Online/Entrees/grilledClub_colbyJack_PDP.png", style="background-color:white ";
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Chick-fil-A® Grilled Chicken Club Sandwich</h5>
                                    <p class="card-text">A lemon-herb marinated boneless breast of chicken, grilled for a tender and juicy backyard-smokey taste, served on a toasted multigrain brioche bun with Colby Jack cheese, applewood smoked</p>

                                    <p class="card-text" style="font-weight: 700;">Price: $1.49</p>
                                    <!-- remember ejs here have to update the value using sql on top -->

                                    <button id="decrease" class="decreasebtn"
                                        style="background-color:#0B5ED7;">-</button>

                                    <input type="text" class="sbquantity" value="1" min="1" maxlength="4" size="4">

                                    <button id="increase" class="increasebtn"
                                        style="background-color:#0B5ED7;">+</button>

                                    <p class="card-text" style="font-weight: 700; margin-top: 10px;">Total: <span
                                            class="totalPrice">$1.49</span></p>
                                    <form action="/sbmenu" method="post">
                                        <input type="hidden" class="totalPriceInput" name="totalPrice" value="1.49">
                                        <button type="submit" class="btn btn-primary">Order Now</button>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;" data-price="6.90">
                                <img src="https://www.cfacdn.com/img/order/menu/Online/Entrees/grilledNuggets_8ct_PDP.png", style="background-color:white ";
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">5 PC. NUGGET KIDS' MEAL</h5>
                                    <p class="card-text">Bite-sized pieces of freshly marinated boneless breast of chicken, grilled for a tender and juicy backyard-smoky taste. Available with guest's choice of dipping sauce.Pairs well with Avocado Lime Ranch dressing.</p>

                                    <p class="card-text" style="font-weight: 700;">Price: $6.90</p>
                                    <!-- remember ejs here have to update the value using sql on top -->

                                    <button id="decrease" class="decreasebtn"
                                        style="background-color:#0B5ED7;">-</button>

                                    <input type="text" class="sbquantity" value="1" min="1" maxlength="4" size="4">

                                    <button id="increase" class="increasebtn"
                                        style="background-color:#0B5ED7;">+</button>

                                    <p class="card-text" style="font-weight: 700; margin-top: 10px;">Total: <span
                                            class="totalPrice">$6.90</span></p>
                                    <form action="/sbmenu" method="post">
                                        <input type="hidden" class="totalPriceInput" name="totalPrice" value="6.90">
                                        <button type="submit" class="btn btn-primary">Order Now</button>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;" data-price="6.90">
                                <img src="https://www.cfacdn.com/img/order/menu/Online/Entrees/wrap_pdp.png", style="background-color: white ";
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Chick-fil-A® Cool Wrap</h5>
                                    <p class="card-text">Sliced grilled chicken breast nestled in a fresh mix of green leaf lettuce with a blend of shredded Monterey Jack and Cheddar cheeses, tightly rolled in a flaxseed flour flat bread. Made fresh daily. Pairs well with Avocado Lime Ranch dressing.</p>

                                    <p class="card-text" style="font-weight: 700;">Price: $6.90</p>
                                    <!-- remember ejs here have to update the value using sql on top -->

                                    <button id="decrease" class="decreasebtn"
                                        style="background-color:#0B5ED7;">-</button>

                                    <input type="text" class="sbquantity" value="1" min="1" maxlength="4" size="4">

                                    <button id="increase" class="increasebtn"
                                        style="background-color:#0B5ED7;">+</button>

                                    <p class="card-text" style="font-weight: 700; margin-top: 10px;">Total: <span
                                            class="totalPrice">$6.90</span></p>
                                    <form action="/sbmenu" method="post">
                                        <input type="hidden" class="totalPriceInput" name="totalPrice" value="6.90">
                                        <button type="submit" class="btn btn-primary">Order Now</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <script>
                const cards = document.querySelectorAll('.card');
        
                cards.forEach(card => {
                    const quantityInput = card.querySelector('.sbquantity');
                    const decreaseButton = card.querySelector('.decreasebtn');
                    const increaseButton = card.querySelector('.increasebtn');
                    const totalPriceSpan = card.querySelector('.totalPrice');
                    const hiddenInput = card.querySelector('.totalPriceInput');
                    const price = parseFloat(card.getAttribute('data-price'));
        
                    function updateTotalPrice() {
                        const quantity = parseInt(quantityInput.value);
                        const totalPrice = price * quantity;
                        totalPriceSpan.textContent = `$${totalPrice.toFixed(2)}`;
                        hiddenInput.value = totalPrice.toFixed(2);
                    }
        
                    decreaseButton.addEventListener('click', function () {
                        if (quantityInput.value > 1) {
                            quantityInput.value = parseInt(quantityInput.value) - 1;
                            updateTotalPrice();
                        }
                    });
        
                    increaseButton.addEventListener('click', function () {
                        quantityInput.value = parseInt(quantityInput.value) + 1;
                        updateTotalPrice();
                    });
        
                    updateTotalPrice();
                });
            </script>   
        </body>

        </html>

    </section>