<%- include("partials/header"); -%>


    <section id="adminlogin" style="background-color: black;">

        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm ">
                            <img src="images/starbucks.png" alt="" class="starbucks">
                        </div>
                        <div class="col-sm">
                            <h1 class="starbuckct">Star Bucks</h1>
                            <h2 class="starbuckct2"> Offering fresh-roasted coffee beans, tea and spices from around
                                the world for our customers to take home.</h2>
                                <a href="/sbmenu">
                                    <button type="button" class="btn  btn-lg" id="starbucksbtn" style="background-color: #00853E;">View Menu <i
                                        class="fa-solid fa-utensils"></i></button>
                                </a>
                            
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm ">
                            <img src="images/bk.png" alt="" class="bk">
                        </div>
                        <div class="col-sm">
                            <h1 class="bkct">Burger King</h1>
                            <h2 class="starbuckct2" style="color: #EEBD31;">Go with The Wrap Flow Trio, The Duo Wrap Combo, The King of Wrap or the Ultimate Wrap Party. Available for pickup or delivery—find 'em only in the BK® </h2>

                            <a href="/bkmenu">
                                <button type="button" class="btn  btn-lg" id="starbucksbtn" style="background-color:#3261A5;">View Menu <i
                                    class="fa-solid fa-utensils"></i></button>
                            </a>
                        
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm ">
                            <img src="images/kfc.png" alt="" class="bk">
                        </div>
                        <div class="col-sm">
                            <h1 class="kfcct">KFC</h1>
                            <h2 class="starbuckct2">At KFC You Can Order Family Meals, Combo Meals, Chicken Nuggets, Chicken Sandwiches & More.  </h2>
                            <a href="/kfcmenu">
                                <button type="button" class="btn  btn-lg" id="starbucksbtn" style="background-color: #A3080C">View Menu <i
                                    class="fa-solid fa-utensils"></i></button>
                            </a>
                       
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm ">
                            <img src="images/chickfil.png" alt="" class="cfa">
                        </div>
                        <div class="col-sm">
                            <h1 class="cfct">Chick-fil-A</h1>
                            <h2 class="starbuckct2">Order Ahead To Enjoy Juicy Chicken, Entrees, Waffle Potato Fries™, Salads, Treats, & More. Enjoy A Chicken Sandwich With Two Pickles On A Toasted Buttery Bun With Fries & A Drink.</h2>
                            <a href="/chickmenu">
                                <button type="button" class="btn  btn-lg" id="starbucksbtn" style="background-color:  #DE0031;">View Menu <i
                                    class="fa-solid fa-utensils"></i></button>
                            </a>
                            
                        </div>
                    </div>
                </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </section>

</body>

