<%- include("partials/header.ejs") -%>

<section class="sbloginpage">
    <main class="form-signin w-100 m-auto">
        <form class="sbform" method="post" action="/clog">
            <img src="images/logo.png" alt="" class="mainlogo">
            <h1 class="adminh1">Customer Login</h1>

            <!-- Display error message here -->
            <% if (error) { %>
                <div class="alert alert-danger" role="alert">
                    Enter Valid Username or Password
                </div>
            <% } %>

            <% if(succ) { %>
                <div class="alert alert-success" role="alert">
                    Successfully SignedUp Login Again !
                  </div>
            <% } %>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="mail">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass">
                <label for="floatingPassword">Password</label>
            </div>
           
            <a href="custhome.ejs">
                <button class="btn btn-primary w-100 py-2" type="submit" id="signbtnsb">Log in</button>
            </a>
        </form>
        <div>
            <center><p style="color: black; display: inline-block;">Don't have an account?  <a href="/signup"><p style="color: blue;display:inline-block;margin-left: 2px;"> SignUp </p></a></p></center>
        </div>
    </main>
</section>
