<%- include("partials/header.ejs") -%>



<!DOCTYPE html>
<html>
<head>
  <title>Eagle Restaurent Services</title>
</head>

<body class="sbmainbody">
  <center>
    <img src="images/logo.png" alt="" class="mainlogo">
  </center>

  <!-- //carousel -->
  
  <div class="mainbddiv">
    <center>
      <div class="row" style="margin-left: 450px;">
        <div class="card" style="width: 18rem;height: 487px;">
          <center>
            <img class="card-img-top" src="images/id.png" alt="Card image cap">
          </center>
          <div class="card-body">
       
            <h5 class="card-title" style="color: #00853E;  font-family: 'Nunito Sans', sans-serif;font-weight: bold; ">Admin Login</h5>
            <p class="card-text" style="font-weight:600;  font-family: 'Nunito Sans', sans-serif;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="/adminhome">
              <button type="button" class="btn btn-outline-primary font-weight: bold; ">Login</button>
            </a>
            
          </div>
        </div>
  
        <div class="card" style="width: 18rem;height: 487px;">
          <center>
            <img class="card-img-top" src="images/user.png" alt="Card image cap" style="width: 240; margin-top: 15px;">
          </center>
          <div class="card-body">
       
            <h5 class="card-title" style="color: #00853E;  font-family: 'Nunito Sans', sans-serif;font-weight: bold; ">Customer</h5>
            <p class="card-text" style="font-weight:600;  font-family: 'Nunito Sans', sans-serif;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="/clog">
              <button type="button" class="btn btn-outline-primary font-weight: bold; ">Login</button>
            </a>
            
          </div>
        </div>
        
    </div>
  
    
  </center>
   
  </div>



 

</body>
</html>